# Reflectance spectra 

> Data preparations

During the Revigo project, we created

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
spectra= pd.read_csv('../data/revigo-aggregated-palette-spectral-data.txt', sep='\t', index_col=0)
mixture_specs = pd.read_csv('../data/revigo-mixture-specifications.txt', sep='\t', index_col=0, header=None)

In [ ]:
spectra

,400,410,420,430,440,450,460,470,480,490,...,610,620,630,640,650,660,670,680,690,700
Name,,,,,,,,,,,,,,,,,,,,,
01A_b,5.09,5.09,5.04,5.00,5.00,4.97,4.97,4.93,4.92,4.92,...,4.91,4.92,4.90,4.92,4.90,4.90,4.89,4.93,4.91,4.93
01A_ob,4.44,4.43,4.39,4.38,4.35,4.30,4.28,4.21,4.18,4.17,...,5.29,5.21,5.14,5.11,5.05,5.02,5.00,4.98,4.96,4.97
01A_ow,6.73,7.97,8.59,8.94,8.54,7.24,5.90,4.87,4.37,4.20,...,78.19,79.58,80.69,81.99,82.92,83.78,84.35,84.74,84.98,85.39
01A_w,54.83,72.98,78.39,80.16,81.59,82.46,83.58,83.99,84.73,85.18,...,85.84,86.11,86.53,87.28,87.75,88.20,88.47,88.64,88.56,88.75
01B_b,5.19,5.18,5.12,5.10,5.06,5.04,5.04,5.00,4.99,4.98,...,4.96,4.98,4.96,4.97,4.96,4.96,4.96,4.98,4.96,4.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17D_w,52.15,71.30,77.34,79.47,80.85,81.95,82.87,83.61,84.20,84.61,...,85.48,85.78,86.21,86.86,87.41,87.75,87.95,88.16,88.16,88.29
17F_b,5.21,5.19,5.15,5.11,5.09,5.06,5.05,5.02,5.00,5.00,...,4.98,4.99,5.00,4.98,5.00,4.97,4.97,4.99,4.97,5.01
17F_ob,16.43,17.41,18.30,18.82,18.94,18.91,18.79,18.18,17.72,17.81,...,5.43,5.42,5.59,6.41,8.40,11.58,14.59,16.39,17.09,17.15
17F_ow,25.91,32.94,38.97,43.55,46.84,49.08,50.78,49.47,49.11,52.31,...,6.00,5.93,6.18,7.71,12.51,24.22,42.23,60.37,71.99,77.41
17F_w,54.61,72.62,78.13,80.12,81.59,82.56,83.60,84.25,84.91,85.34,...,85.59,85.92,86.31,87.13,87.75,88.29,88.43,88.77,88.68,88.88

In [ ]:
spectra.index

Index(['01A_b', '01A_ob', '01A_ow', '01A_w', '01B_b', '01B_ob', '01B_ow',
       '01B_w', '01C_b', '01C_ob',
       ...
       '17A_ow', '17A_w', '17D_b', '17D_ob', '17D_ow', '17D_w', '17F_b',
       '17F_ob', '17F_ow', '17F_w'],
      dtype='object', name='Name', length=336)

In [ ]:
mixture_specs

                                                     1
0
01A              Eosin1Wax-ZincWhite-BoneBlack|100-0-0
01B              Eosin1Wax-ZincWhite-BoneBlack|10-90-0
01C              Eosin1Wax-ZincWhite-BoneBlack|50-50-0
02A                  Eosin-ZincWhite-BoneBlack|100-0-0
02B               Eosin-ZincWhite-BoneBlack|9.7-90.3-0
..                                                 ...
16E  BariumSulphate-BoneBlack-Cochineal-ViridianGre...
16F  BariumSulphate-BoneBlack-Cochineal-ViridianGre...
17A  CalciumCarbonate-BoneBlack-Cochineal-ViridianG...
17D  CalciumCarbonate-BoneBlack-Cochineal-ViridianG...
17F  CalciumCarbonate-BoneBlack-Cochineal-ViridianG...

[85 rows x 1 columns]